<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="accountController" class="com.kazuki43zoo.jpetstore.ui.controller.AccountController">
        <constructor-arg ref="accountService"/>
    </bean>

    <bean id="accountService" class="com.kazuki43zoo.jpetstore.service.AccountService">
        <constructor-arg ref="accountMapper"/>
        <constructor-arg ref="passwordEncoder"/>
    </bean>

    <bean id="passwordEncoder" class="org.springframework.security.crypto.password.Pbkdf2PasswordEncoder"/>

    <bean id="accountUserDetailsService" class="com.kazuki43zoo.jpetstore.service.AccountUserDetailsService">
        <constructor-arg ref="accountMapper"/>
    </bean>

    <!-- Define ApplicationEventPublisher bean -->
    <bean id="publisher" class="org.springframework.context.annotation.AnnotationConfigApplicationContext" init-method="refresh">
    </bean>



    <bean id="myAccountController" class="com.kazuki43zoo.jpetstore.ui.controller.MyAccountController">
        <constructor-arg ref="accountService"/>
        <constructor-arg ref="publisher"/>
    </bean>


    <bean id="catalogService" class="com.kazuki43zoo.jpetstore.service.CatalogService">
        <constructor-arg ref="categoryMapper"/>
        <constructor-arg ref="itemMapper"/>
        <constructor-arg ref="productMapper"/>
    </bean>

    <bean id="cart" class="com.kazuki43zoo.jpetstore.ui.Cart" />
    <bean id="cartController" class="com.kazuki43zoo.jpetstore.ui.controller.CartController">
        <constructor-arg ref="catalogService"/>
        <constructor-arg ref="cart"/>
    </bean>

    <bean id="productSearchCriteria" class="com.kazuki43zoo.jpetstore.ui.ProductSearchCriteria" />
    <bean id="catalogController" class="com.kazuki43zoo.jpetstore.ui.controller.CatalogController">
        <constructor-arg ref="catalogService"/>
        <constructor-arg ref="productSearchCriteria"/>
    </bean>
    <bean id="clock" class="java.time.Clock" factory-method="systemDefaultZone"/>

    <bean id="orderService" class="com.kazuki43zoo.jpetstore.service.OrderService">
        <constructor-arg ref="itemMapper"/>
        <constructor-arg ref="orderMapper"/>
        <constructor-arg ref="sequenceMapper"/>
        <constructor-arg ref="clock"/>
    </bean>

    <bean id="myOrderController" class="com.kazuki43zoo.jpetstore.ui.controller.MyOrderController">
        <constructor-arg ref="orderService"/>
        <constructor-arg ref="cart"/>
    </bean>

    <bean id="favourite" class="com.kazuki43zoo.jpetstore.ui.Favourite" />

    <bean id="eventListeners" class="com.kazuki43zoo.jpetstore.ui.EventListeners">
        <constructor-arg ref="catalogService"/>
        <constructor-arg ref="favourite"/>
    </bean>

    <bean id="accountMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.kazuki43zoo.jpetstore.mapper.AccountMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:file:~/db/jpetstore"/>
    </bean>

    <bean id="categoryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.kazuki43zoo.jpetstore.mapper.CategoryMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="itemMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.kazuki43zoo.jpetstore.mapper.ItemMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="orderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.kazuki43zoo.jpetstore.mapper.OrderMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="productMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.kazuki43zoo.jpetstore.mapper.ProductMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="sequenceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.kazuki43zoo.jpetstore.mapper.SequenceMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

</beans>